/*GENERAL*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
    --primary-color:        #057a8d;
    --secondary-color:      #f1c111;
    --white-color:          #f0f0f0;
    --dark-color:           #252525;
    --menu-bg:              #17252a;
  }

body {
/*  background-color: #1c0522;*/
  background-color: var(--white-color);
/*  background-color: #2b7a78;*/
  color: #252525;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

a{
  color: var(--white-color);
  text-decoration: none;
}

ul{
  list-style: none;
}



.container {
  width: 100%;
  margin: auto;
}

/*BUTTON*/

.btn{
  cursor: pointer;
  display: inline-block;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  font-size: 15px;
  border: 1px solid var(--secondary-color);
  margin: 20px 0;
  color: var(--secondary-color);
  background: transparent;
  transition: all .5s ease;
}

.btn:hover{
  background: var(--secondary-color);
    color: var(--dark-color);
    border-color: transparent;
}

.custom-btn {
    background: var(--dark-color);
    color: var(--white-color);
    border-color: transparent;
  }


 .menu-btn {
  position: absolute;
  cursor: pointer;
  top: 16px;
  right: 30px;
  z-index: 20;
  font-size: 1.5rem;
  display: none;
  color: var(--white-color);
}

button{
  cursor: pointer;
  background: transparent;
  border: none;
}

hr {
  margin-top: 60px;
}

.news-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px 0;
  text-align: center;
}

/* TABLET */
    
@media screen and (max-width:991px) and (min-width: 768px){
    
      
  .menu-btn{
    display: block;
    position: fixed;
  }

  .nav-main ul.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    background: #17252a;
    opacity: 0.9;
    height: 100%;
    padding: 30px;
    transform: translateX(-300px);
    transition: transform .5s ease-in-out;
    z-index: 100;
  }

  .nav-main ul.nav-menu.show-bar{
    transform: translateX(0px);
  }

  .nav-main ul.nav-menu li{
    padding: 20px;
    font-size: 14px;
  }

  .nav-menu-right{
    margin-right: 80px;
  }


  .news-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .news-cards img{
    width: 80%;
  } 
    
}
    
/* PHONE */
    
@media  screen and (max-width:767px){

  .nav-brand,
  .nav-menu,
  .nav-menu-right{
    width:33.33333333%;
  }
    
  .menu-btn{
    display: block;
  }

  .nav-main ul.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 0;
    background: #17252a;
    opacity: 0.9;
    height: 100%;
    padding: 30px;
    transform: translateX(-300px);
    transition: transform .5s ease-in-out;
    z-index: 1000;
  }

  .nav-main ul.nav-menu.show-bar{
    transform: translateX(0px);
  }

  .nav-main ul.nav-menu li{
    padding: 20px;
    font-size: 14px;
  }

  .nav-menu-right{
    margin-right: 50px;
  }

  .showcase .title {
  position: relative;
  top: 150px;
  font-size: 0.8em;
  left: 10px; 
  
  }

  .news-cards {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  .news-cards img{
    width: 70%;
    height: 60%;
  } 
}




